:root {
  --primary-color: saddlebrown;
  --secondary-color: burlywood;
}
@keyframes size {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes eat {
  0% {
    height: 0;
  }
  100% {
    height: 40px;
  }
}
/* reset */
body {
  margin: 0;
}
h1 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
strong {
  font-weight: normal;
}
/* Layouts */
.center {
  /* background-color: aqua; */
  position: absolute;
  /* position absolute 적용시 컨텐츠 크기 만큼으로 사이즈가 줄어든다. 
  원래는 block 레벨의 div였는데 자기 사이즈만큼으로 줄은 것을 알수있다 확인하려면 백그라운드 속성을 준다.*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Design */
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-family: "arial";
}
.cow {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 300px;
  padding-bottom: 30px;
  /* height: 300px; */
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 0 auto;
  box-shadow: inset 0 0 100px currentColor;
  animation-name: size;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.horn {
  background-color: white;
  height: 80px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  margin: 0 -40px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}
/* horn 의 자식요소로 추가  inline 요소이다.*/
.horn::before {
  content: " ";
  display: block;
  height: 40px;
  /* 인라인 요소이므로 block 으로 부모크기만큼 키운다. */
  background-color: var(--primary-color);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.horn::after {
  content: " ";
  background-color: rosybrown;
  display: block;
  height: 60px;
  margin: 0 60px;
  transform: translateY(-10px);
  border-radius: 12px;
  box-shadow: inset 0 -20px 6px rgba(0, 0, 0, 0.2);
}
.eyes {
  border-top: 30px double;
  border-radius: 20px;
  margin: 20px 30px;
  display: flex;
  justify-content: space-around;
}
.eyes::before,
.eyes::after {
  content: " ";
  /* margin: 20px; */
  /* 인라인 요소는 좌우 마진만 먹는다. */
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  box-shadow: inset 0 -6px 0 10px currentColor;
}
.nose {
  /* border: 10px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 0 -20px;
  background-color: var(--secondary-color);
  border-radius: 40px;
}
.nose::before,
.nose::after {
  content: " ";
  width: 30px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.mouth {
  background-color: var(--secondary-color);
  height: 40px;
  margin: 0 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 10px 10px currentColor;
  position: relative;
}
.mouth::after {
  content: " ";
  background-color: orangered;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  margin: 0 70px;
  border-bottom: 20px solid var(--secondary-color);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateY(100%);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.77);
  animation-name: eat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.title {
  font-size: 100px;
  line-height: 1;
  padding: 40px 0;
}
.title strong {
  font-weight: bold;
}
